@model List<ResultTestimonialDto>
<section class="ftco-section img" id="ftco-testimony" style="background-image: url(/Templates/coffee1-gh-pages/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Ziyaretçilerimiz</span>
                <h2 class="mb-4">Görüşleriniz bizim için çok kıymetli</h2>
                <p>Cafemiz</p>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="row d-flex no-gutters">
            @foreach (var item in Model)
            {
                <div class="col-lg align-self-sm-end ftco-animate">
                    <div class="testimony">
                        <blockquote>
                            <p>@item.Comment</p>
                        </blockquote>
                        <div class="author d-flex mt-4">
                            <div class="image mr-3 align-self-center">
                                <img src="https://cdn-icons-png.flaticon.com/512/9187/9187604.png" alt="">
                            </div>
                            <div class="name align-self-center">@item.NameSurname <span class="position">@item.Title</span></div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
