@model ResultPricingByIdDto
@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni hakkımızda ekleme sayfası</h4>
            <p class="card-description">
                Hakkımızda bilgisini aşağıdaki form üzerinden ekliyebilirsiniz. Lütfen bilgileri eksiksiz olarak doldurun.
            </p>
            <form method="post" class="forms-sample">
                <input type="hidden"  asp-for="PricingId" >
                <div class="form-group">
                    <label for="exampleInputShortTitle">başlık</label>
                    <input type="text" class="form-control" id="exampleInputShortTitle" asp-for="Name" placeholder="Başlık">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

