@using CoffeBlend.WebUI.Enums
@model List<ResultTableDto>
@{
    ViewData["Title"] = "TableList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    string cardCss = "data-icon-card-primary";
    string iconCss = "mdi mdi-check-all icon-lg";
    string text = "Boş";
    string btnCardCss = "block";
}


<div class="row">

    @foreach (var item in Model)
    {
        if (item.Status == (byte)TableStatusTypes.Deactive)
        {
            cardCss = "data-icon-card-danger";
            iconCss = "mdi mdi-coffee icon-lg";
            text = "Dolu";
            btnCardCss = "block";
        }
        else if (item.Status == (byte)TableStatusTypes.Reseravtion)
        {
            cardCss = "data-icon-card-dark";
            iconCss = "mdi mdi-history icon-lg";
            text = "Rezerve";
            btnCardCss = "none";
        }
        else
        {
            cardCss = "data-icon-card-primary";
            iconCss = "mdi mdi-food-fork-drink icon-lg";
            text = "Boş";
            btnCardCss = "none";

        }
        <div class="col-md-2 mb-xl-3 mb-3 stretch-card grid-margin grid-margin-md-0">
            <div class="card @cardCss"  >
                <div class="card-body">
                    <p class="card-title text-white">@item.Name</p>
                    <div class="row">
                        <div class="col-8 text-white">
                            <h4>Masa @text</h4>
                        </div>
                        <div class="col-4 ">
                            <i class="@iconCss"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/Admin/Order/Index?tableId=@item.TableID&tableName=@item.Name" class="btn btn-success mb-2" style="display:@btnCardCss">Sipariş Al</a>
                            <a href="/Admin/Order/Index?tableId=@item.TableID&tableName=@item.Name" class="btn btn-warning" style="display:@btnCardCss">Siparişler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


</div>
