<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" >
        <li class="nav-item" >
            <a class="nav-link " href="/Admin/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/About/Index">
                <i class="mdi mdi-information-outline  menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Table/Index">
                <i class="mdi mdi-table-edit menu-icon"></i>
                <span class="menu-title">Masalar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Table/TableList">
                <i class="mdi mdi-silverware-variant menu-icon"></i>
                <span class="menu-title">Masa Durumları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Category/Index">
                <i class="mdi mdi-bookmark-outline menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/ContactInfo/Index">
                <i class="mdi mdi-contact-mail menu-icon"></i>
                <span class="menu-title">İletişim Bilgileri</span>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/Admin/Feature/Index">
                <i class="mdi mdi-cards-playing-outline menu-icon"></i>
                <span class="menu-title">Öne Çıkan Alan</span>
            </a>
        </li>
           <li class="nav-item">
            <a class="nav-link" href="/Admin/Galery/Index">
                <i class="mdi mdi-folder-outline menu-icon"></i>
                <span class="menu-title">Galeri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Menu/Index">
                <i class="mdi mdi-menu menu-icon"></i>
                <span class="menu-title">Menü</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Product/Index">
                <i class="mdi mdi-cart-outline menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Reservation/Index">
                <i class="mdi mdi-table-edit menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Service/Index">
                <i class="mdi mdi-weather-cloudy menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Statistic/Index">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Testimonial/Index">
                <i class="mdi mdi-account-multiple-outline menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Admin/Pricing/Index">
                <i class="mdi mdi-priority-low menu-icon"></i>
                <span class="menu-title">Ödeme Planları</span>
            </a>
        </li>
    </ul>
</nav>