@using CoffeBlend.DtoLayer.AdminDashboardDtos
@model GetAdminDashboardTodayBalanceDto
<div class="col-md-6 grid-margin stretch-card">
    <div class="card position-relative">
        <div class="card-body">
            <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12 col-xl-12 d-flex flex-column justify-content-start">
                                <div class="ml-xl-12 mt-3">
                                    <p class="card-title">Bügünkü kazanç </p>
                                    <h1 class="text-primary">@Model.Balance.ToString("C2")</h1>
                                    <h3 class="font-weight-500 mb-xl-4 text-primary">CoffeBlend</h3>
                                </div>
                                <div class="mt-3" id="curve_chart"></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        $.ajax({
            url: '/Admin/Dashboard/GetChart',
            type: 'json',
            method: 'get',
            success: function (chart) {
               
                console.log(chart);

                var data = google.visualization.arrayToDataTable([
                    ['Dün', 'Kazanç'],
                    [chart.oldDate, chart.oldDateAmount],
                    [chart.nowDate, chart.nowDateAmount],

                ]);

                var options = {
                    title: 'Düne göre kazanç grafiği',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);

            }
        });
        
    }
</script>