<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoffeBlend Admin</title>

    <link rel="stylesheet" href="~/Templates/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Templates/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Templates/skydash/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Templates/skydash/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="~/Templates/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Templates/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Templates/skydash/js/select.dataTables.min.css">
 

    <link rel="stylesheet" href="~/Templates/skydash/css/vertical-layout-light/style.css">
  
    <link rel="shortcut icon" href="~/Templates/skydash/images/favicon.png" />
</head>