@model List<ResultStatisticDto>
<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(/Templates/coffee1-gh-pages/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                            <div class="block-18 text-center">
                                <div class="text">
                                    <div class="icon"><span class="@item.Icon"></span></div>
                                    <strong class="number" data-number="@item.Amount">@item.Amount</strong>
                                    <span>@item.Title</span>
                                </div>
                            </div>
                        </div>

                    }
                    
                </div>
            </div>
        </div>
    </div>
</section>
