@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni hakkımızda ekleme sayfası</h4>
            <p class="card-description">
               Hakkımızda bilgisini aşağıdaki form üzerinden ekliyebilirsiniz. Lütfen bilgileri eksiksiz olarak doldurun.
            </p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputShortTitle">Kısa başlık</label>
                    <input type="text" class="form-control" id="exampleInputShortTitle" asp-for="ShortTitle" placeholder="Kısa Başlık">
                </div>
                <div class="form-group">
                    <label for="exampleInputTitlte">Başlık</label>
                    <input type="text" class="form-control" id="exampleInputTitlte" asp-for="Title" placeholder="Başlık">
                </div>
                <div class="form-group">
                    <label for="exampleInputDescription">Açıklama</label>
                    <textarea  rows="10" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

