@model ResultReservatioByIdDto
@{
    ViewData["Title"] = "UpdateReservation";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Rezervasyon güncelleme sayfası</h4>
            <p class="card-description">
                Rezervasyon bilgisini aşağıdaki form üzerinden güncelleyebilirsiniz. Lütfen bilgileri eksiksiz olarak doldurun.
            </p>
            <form method="post" class="forms-sample">
                <input type="hidden" asp-for="ReservationId">
                <div class="form-group">
                    <label for="exampleInputShortName">Ad Soyad</label>
                    <input type="text" class="form-control" id="exampleInputShortName" asp-for="NameSurname" placeholder="Ad Soyad">
                </div>
                <div class="form-group">
                    <label for="exampleInputDate">Rezervasyon için tarih seçiniz</label>
                    <input type="datetime-local" class="form-control" id="exampleInputDate" asp-for="Date" placeholder="Tarih">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail" asp-for="Email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Telefon Numarası</label>
                    <input type="text" class="form-control" id="exampleInputPhone" asp-for="Phone" placeholder="Telefon Numarası">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone">Masa Seçiniz</label>
                    <select asp-for="TableID" asp-items="@ViewBag.ActiveTableList" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label for="exampleInputRezervationStatus">Rezervasyon Durumu</label>
                    <select asp-for="Status" class="form-control">
                        <option value="Rezervasyon Alındı, Onay Bekliyor">Rezervasyon Alındı, Onay Bekliyor</option>
                        <option value="İptal Edildi">İptal Edildi</option>
                        <option value="Onaylandı">Onaylandı</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputSpacialRequest">Özel İstekler</label>
                    <textarea rows="10" class="form-control" id="exampleInputSpacialRequest" asp-for="SpecialRequest" placeholder="Varsa özel istekler.."></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>



