@using CoffeBlend.DtoLayer.AdminDashboardDtos
@model ResultWeatherAPIDto
<div class="col-md-6 grid-margin stretch-card">
    <div class="card tale-bg">
        <div class="card-people mt-auto">
            <img src="~/Templates/skydash/images/dashboard/people.svg" alt="people">
            <div class="weather-info">
                <div class="d-flex">
                    <div>
                        <h2 class="mb-0 font-weight-normal"><img src="@Model.current.condition.icon " style="width:50px; height:50px" class="mr-2"/>@Model.current.temp_c <sup> C</sup></h2>
                    </div>
                    <div class="ml-2">
                        <h4 class="location font-weight-normal">İstanbul</h4>
                        <h6 class="font-weight-normal">Kadıköy</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>