@model CreateReservationDto
<style>
    #TableDrop option{
        color:grey;
       
    }
</style>
<section class="ftco-appointment">
    <div class="overlay"></div>
    <div class="container-wrap">
        <div class="row no-gutters d-md-flex align-items-center">
            <div class="col-md-12 appointment ftco-animate">
                <h3 class="mb-3">Rezervasyon Oluşturun</h3>
                <form method="post" asp-action="CreateReservation" asp-controller="Default" class="appointment-form">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" asp-for="NameSurname" placeholder="Adınız Soyadınız">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <div class="input-wrap">
                                <div class="icon"><span class="ion-md-calendar"></span></div>
                                <input type="datetime-local" asp-for="Date" class="form-control " placeholder="Date">
                            </div>
                        </div>
                        <div class="form-group ml-md-4">
                            <div class="input-wrap">
                                <div class="icon"><span class="ion-ios-email"></span></div>
                                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" asp-for="Phone" placeholder="Telefon Numarası">
                        </div>
                        <div class="form-group ml-md-4">
                            <select id="TableDrop" asp-for="TableID" asp-items="@ViewBag.ActiveTableList" class="form-control"><option>Masa Seçiniz</option></select>
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="2" class="form-control" asp-for="SpecialRequest" placeholder="Varsa istekler"></textarea>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="submit" value="Rezervasyon Oluştur" class="btn btn-primary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
