
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<div class="row">
  
    @await Component.InvokeAsync("_AdminDashboardWeatherComponentPartial")
    @await Component.InvokeAsync("_AdminDashboardWidgetStatisticComponentPartial")
</div>
<div class="row">
    @await Component.InvokeAsync("_AdminDashboardTodayBalanceComponentPartial")
    @await Component.InvokeAsync("_AdminDashboardLast7ReservationComponentPartial")
  
</div>

