@model ResultContactInfoByIdDto
@{
    ViewData["Title"] = "UpdateContactInfo";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni İletişim Bilgisi güncelleme sayfası</h4>
            <p class="card-description">
                İletişim bilgisini aşağıdaki form üzerinden güncelleyebilirsiniz. Lütfen bilgileri eksiksiz olarak doldurun.
            </p>
            <form method="post" class="forms-sample">
                <input type="hidden"  asp-for="ContactInfoId" >
                <div class="form-group">
                    <label for="exampleInputTitlte">İkon</label>
                    <input type="text" class="form-control" id="exampleInputTitlte" asp-for="Icon" placeholder="İkon">
                </div>
                <div class="form-group">
                    <label for="exampleInputTitlte">Başlık</label>
                    <input type="text" class="form-control" id="exampleInputTitlte" asp-for="Title" placeholder="Başlık">
                </div>
                <div class="form-group">
                    <label for="exampleInputDescription">Açıklama</label>
                    <textarea rows="10" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>

