@model List<ResultServiceDto>
<section class="ftco-section ftco-services">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="media d-block text-center block-6 services">
                        <div class="icon d-flex justify-content-center align-items-center mb-5">
                            <span class="@item.Icon"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">@item.Title</h3>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
