@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
    @await Component.InvokeAsync("_DefaultFeatureComponentPartial")
    @await Component.InvokeAsync("_DefaultContactInfoComponentPartial")
    @RenderBody()

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")

</body>
</html>