@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>
    @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptsComponentPartial")

</body>
</html>